asgiref==3.2.10
BareNecessities==0.2.8
click==7.1.2
dj-database-url==0.5.0
Django==3.1.2
django-auth==0.1.9
django-crispy-forms==1.9.2
django-heroku==0.3.1
gunicorn==20.0.4
joblib==0.17.0
nltk==3.5
numpy==1.19.3
psycopg2==2.8.6
python-decouple==3.3
pytz==2020.1
regex==2020.10.28
scikit-learn==0.23.2
scipy==1.5.3
six==1.15.0
sklearn==0.0
sqlparse==0.4.1
threadpoolctl==2.1.0
tqdm==4.51.0
whitenoise==5.2.0
