{% extends 'baseM.html' %} {% load static %} {% block content %}

<div class="container">
    <div class="row d-flex justify-content-center mt-5">

        {% if user.is_authenticated %}
        <h4 class="text-light">Welcome {{ user.username|title }}, You can avail these services</h4>
        {% else %}
        <h5 class="text-light">Please Login to Avail these services.</h5>
        {% endif %}
    </div>
    <div class="row d-flex justify-content-center mt-5">
        <div class="card-deck col-8">
            <div class="card bg-light">
                <div class="card-header bg-dark text-light">
                    <h3>X-Ray</h3>
                </div>
                <div class="card-body text-center" style="background-color: #e8cb38;">
                    <p class="card-text">
                        Here You can Upload your X-ray image to get yourself e-consultance and idea about your condition.
                    </p>
                    <a class="card-text btn btn-success" href="{% url 'upload' %}">Upload Now!</a>
                </div>
            </div>
            <div class="card bg-light">
                <div class="card-header bg-dark text-light">
                    <h3>Contact Doctor</h3>
                </div>
                <div class="card-body text-center" style="background-color: #e8cb38;">
                    <p class="card-text">
                        Want to talk to a doctor nearby? Make your appointment now.
                    </p>
                    <a href="{% url 'find' %}" class="card-text btn btn-success">Find Doctor!</a>
                </div>
            </div>
        </div>
        <div class="card-deck mt-5  col-8">
            <div class="card bg-light">
                <div class="card-header bg-dark text-light">
                    <H3>Want some recommendation</H3>
                </div>
                <div class="card-body text-center" style="background-color: #e8cb38;">
                    <p class="card-text">
                        If you are confused or don't have a doctor or visiting here first time. Don't you worry, find best doctors from our own recommendation based on experience and practice.
                    </p>
                </div>
            </div>
            <div class="card bg-light">
                <div class="card-header bg-dark text-light">
                    <h3>Stuck??</h3>
                    <h3>Don't Worry</h3>
                </div>
                <div class="card-body text-center" style="background-color : #e8cb38;">
                    <p class="card-text">Still confused?</p>
                    <p class="card-text">Don't be. Try our chatbot which can guide you through all ways.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- footer -->