{% extends 'baseM.html' %} {% load static %} {% block content %}

<div class="container">
    <div class="row d-flex justify-content-center mt-5">
        <div class="card-deck col-8">
            <div class="card bg-light">
                <div class="card-header bg-dark text-light">
                    <h3>X-Ray</h3>
                </div>
                <div class="card-body text-center" style="background-color: #e8cb38;">
                    <p class="card-text">
                        Here You can Upload your X-ray image to get yourself e-consultance and idea about your condition.
                    </p>
                    <a class="card-text btn btn-success">Upload Now!</a>
                </div>
            </div>
            <div class="card bg-light">
                <div class="card-header bg-dark text-light">
                    <h3>Contact Doctor</h3>
                </div>
                <div class="card-body text-center" style="background-color: #e8cb38;">
                    <p class="card-text">
                        Want to talk to a doctor nearby? Make your appointment now.
                    </p>
                    <a class="card-text btn btn-success">Find Doctor!</a>
                </div>
            </div>
        </div>
        <div class="card-deck mt-5  col-8">
            <div class="card bg-light">
                <div class="card-header bg-dark text-light">
                    <H3>Want some recommendation</H3>
                </div>
                <div class="card-body text-center" style="background-color: #e8cb38;">
                    <p class="card-text">
                        If you are confused or don't have a doctor or visiting here first time. Don't you worry, find best doctors from our own recommendation based on experience and practice.
                    </p>
                </div>
            </div>
            <div class="card bg-light">
                <div class="card-header bg-dark text-light">
                    <h3>Stuck??</h3>
                    <h3>Don't Worry</h3>
                </div>
                <div class="card-body text-center" style="background-color : #e8cb38;">
                    <p class="card-text">Still confused?</p>
                    <p class="card-text">Don't be. Try our chatbot which can guide you through all ways.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<hr>
<hr>
<div class="bg-dark mt-5">
    <footer class="page-footer font-small blue pt-4 text-light">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <h5 class="text-uppercase">An Online Help System</h5>
                    <p>Project Maintained for Version Beta 3.0 2020-2021</p>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase">MEMBERS (GITHUB)</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="https://github.com/shivanshuman021" target="_blank" class="text-light">Anshuman Mishra</a>
                        </li>
                        <li>
                            <a href="https://github.com/suffisme" target="_blank" class="text-light">Mohd Sufiyan Ansari</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase">Mail Us</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="mailto:shivanshuman021@gmail.com" class=" text-light "><i class="fas fa-envelope mr-2"></i>Anshuman Mishra</a>
                        </li>
                        <li>
                            <a href="mailto:addsufiyan@gmail.com" class=" text-light "><i class="fas fa-envelope mr-2"></i>Mohd Sufiyan Ansari</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <p> Sufiyan Ansari & Anshuman Mishra</p>
        </div>
    </footer>
</div>
{% endblock %}

<!-- footer -->