{% extends 'baseM.html' %} {% block title %} Upload Your X-ray {% endblock title %}{% block content %}
<div class="container">
    {% if messages %} {% for message in messages %}
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>{{message}}.
    </div>
    <div class="alert alert-primary alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button> We have received your file. The Report will sent to your mail shortly.
    </div>
    {% endfor %} {% endif %}

    <form class="form m-5 text-light p-4 rounded border border-secondary" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h4>Please attach your X-ray file here.</h4>
        <input type="file" name="document" required>
        <input type="submit" value="upload" class="btn btn-secondary">
    </form>

    <br>
    <br>
    <div class="col-5 text-light">
        <p class="col">
            <li>Upload Your X-ray Images Here!</li>
            <li>Use our System to scan it and tell your about the condition.</li>
            <li>Your File is secures here.</li>
            <li>Have a nice day.</li>
        </p>

    </div>

</div>
{% endblock content %}